* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h1 {
    margin-top: 3rem;
    font-size: 4rem;
}

.add {
    padding: 1.5rem 2rem;

    border: none;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #d4d4d4;
}

.add:hover {
    background-color: #b8b8b8;
}

.add:active {
    background-color: #9d9d9d;
}

.library {
    width: 80%;
    padding: 1rem;

    background-color: #d4d4d4;
    border-radius: 2rem;

    display: grid;
    grid-template: 10rem / 1fr 1fr;
    gap: 1rem;
}

.book {
    height: 10rem;

    position: relative;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 8px 5px 5px #696969;
    
    align-items: center;
}

.book p {
    place-self: center;

    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.remove-button,
.read-status-button {
    height: 2rem;
    width: 5rem;

    border: none;
    border-radius: .5rem;

    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.remove-button {
    background-color: #ff0000;
}

.remove-button:hover {
    background-color: #de0000;
}

.remove-button:active {
    background-color: #be0000;
}

.read-status-button {
    background-color: #008000;
}

.read-status-button:hover {
    background-color: #006e00;
}

.read-status-button:active {
    background-color: #005d00;
}