* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h1 {
    margin-top: 3rem;
    font-size: 4rem;
}

.add {
    padding: 1.5rem 2rem;

    border: none;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #d4d4d4;
}

.add:hover {
    background-color: #b8b8b8;
}

.add:active {
    background-color: #9d9d9d;
}

.library {
    width: 80%;
    padding: 1rem;

    background-color: #d4d4d4;
    border-radius: 2rem;

    display: grid;
    grid-template: 10rem / 1fr 1fr;
    gap: 1rem;
}

.book {
    height: 10rem;

    position: relative;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 8px 5px 5px #696969;
    
    align-items: center;
}

.book p {
    place-self: center;

    font-size: 1rem;
}

.read {
    background-color: #d2e6d0;
}

.unread {
    background-color: #ffdad3;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.remove-button,
.read-status-button,
.close-form-button,
.submit-form-button {
    height: 2rem;
    width: 5rem;

    border: none;
    border-radius: .5rem;

    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.remove-button,
.close-form-button {
    background-color: #ff0000;
}

.remove-button:hover,
.close-form-button:hover {
    background-color: #de0000;
}

.remove-button:active,
.close-form-button:active {
    background-color: #be0000;
}

.read-status-button,
.submit-form-button {
    background-color: #008000;
}

.read-status-button:hover,
.submit-form-button:hover {
    background-color: #006e00;
}

.read-status-button:active,
.submit-form-button:active {
    background-color: #005d00;
}

.book-form {
    padding: 1rem;

    margin-left: auto;
    margin-right: auto;
    align-self: center;

    border-radius: 3rem;
}

.book-form form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.form-input {
    display: grid;
    grid-template-columns: 5rem 1fr;
}

.checkbox-input {
    display: flex;
    gap: 1rem;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.form-input input[type="text"],
.form-input input[type="number"] {
    height: 1.5rem;
    padding: 0 5px;
}

input[type="text"],
input[type="number"] {
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border: black solid 1px;
}

.form-input label {
    align-self: center;
}

.form-input,
.checkbox-input {
    font-size: 1rem;
}